* {
    font-size: 12px;
    font-family: monospace;
}
window#waybar {
    background: transparent; /* Nord: #1E1F23 */
    color: #fdf6e3;
}
/* TOP BAR */
#workspaces {
    border-radius: 26px;
    background: transparent;
}
#workspaces button {
    padding: 0 2px;
    color: #ebdbb2; /* Nord: #fdf6e3*/
}
#workspaces button.focused {
    color:  #689d6a; /* Nord: #a81D425 */
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border-color: #0C3D27;
    background: #0C3D27;
}
#workspaces button.urgent {
    background-color: #cc241d; /* Nord: #eb4d4b */
}
#mode {
    border-radius: 26px;
    background: transparent; /* Nord: #1E1F23 */
    padding: 0 2px;
    margin: 0 4px;
    color: #ebdbb2; /* Nord: #fdf6e3 */
}
#idle_inhibitor, #custom-weather, #network, #custom-gpu, #cpu, #memory, #disk, #temperature, #pulseaudio, #backlight, #battery, #clock, #tray {
    color: #282828; /* Nord: #1E1F23 */
    border-radius: 26px;
    margin: 0 4px;
    padding: 0 16px;
}
#idle_inhibitor {
    background-color: #504945; /* Nord: #2d3436 */
    color: #d5c4a1; /* Nord: #ecf0f1 */
}
#idle_inhibitor.activated {
    background-color: #d5c4a1; /* Nord: #ecf0f1 */
    color: #504945; /* Nord: #2d3436*/
}
#custom-weather {
	background: #689d6a;
}
#network {
    background: #b16286; /* Nord: #bd93f9 */
}
#custom-gpu {
    background: #d79921; /* Nord: #fec345 */
}
#cpu {
    background: #fabd2f; /* Nord: #f1fa8c */
}
#memory {
    background: #fb4934; /* Nord: #ff6e67 */
}
#disk {
    background: #d65d0e; /* Nord: #964B00 */
}
#temperature {
    background: #8ec07c; /* Nord: #5af78e */
}
#pulseaudio {
    background: #458588; /* Nord: #9aedfe */
}
#backlight {
    background: #fe8019; /* Nord: #b58900 */
}
#battery {
    background: #fbf1c7; /* Nord: #ffffff */
}
#battery.charging {
    background: #98971a; /* Nord: #00ff00 */
}
#battery.critical:not(.charging) {
    background-color: #cc241d; /* Nord: #f53c3c */
}
#clock{
    padding: 0 16px;
    background: #cc241d; /* Nord: #ff3434 */
}
#custom-power {
    color: #1E1F23;
    border-radius: 26px;
    margin-left: 4px;
    padding: 0 16px;
    background: #fabd2f; /* Nord: #f5c42b */
}

/* BOTTOM BAR */
#custom-menu, #custom-windows, #custom-firefox, #custom-filemanager, #custom-terminal, #custom-vim, #custom-libreoffice, #custom-zathura, #custom-spotify, #custom-discord, #mpd, #tray {
    font-size: 20px;
    margin: 0 4px;
}
