* {
    font-size: 12px;
    font-family: monospace;
}

window#waybar {
    background: #1E1F23;
    color: #fdf6e3;
    border-radius: 26px;
}
#workspaces {
    border-radius: 26px;
    background: #000000;
}
#workspaces button {
    padding: 0 2px;
    color: #fdf6e3;
}
#workspaces button.focused {
    color:  #81D425;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border-color: #0C3D27;
    background: #0C3D27;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}
#mode {
    border-radius: 26px;
    background: #000000;
    padding: 0 2px;
    margin: 0 4px;
    color: #fdf6e3;
}
#network {
    background: #bd93f9;
}
#idle_inhibitor, #custom-gpu, #cpu, #memory, #disk, #temperature, #pulseaudio, #backlight, #battery, #clock, #tray {
    color: #1E1F23;
    border-radius: 26px;
    margin: 0 4px;
    padding: 0 16px;
}
#idle_inhibitor {
    background-color: #2d3436;
    color: #ecf0f1;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
#custom-gpu {
    background: #fec345;
}
#cpu {
    background: #f1fa8c;
}
#memory {
    background: #ff6e67;
}
#disk {
    background: #964B00;
}
#temperature {
    background: #5af78e;
}
#pulseaudio {
    background: #9aedfe;
}
#backlight {
    background: #b58900
}
#battery {
    background: white;
}
#battery.charging {
    background: green;
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#clock{
    padding: 0 16px;
}
#clock {
    background: #ff3434;
}
#custom-power {
    color: #1E1F23;
    border-radius: 26px;
    margin-left: 4px;
    padding: 0 16px;
    background: #F5C42B;
}
